.counter {
    font-family: "Helvetica Ultra Light";
    font-size: 13vw;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(158,0,255,1) 69%, rgba(214,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clock {
    font-size: 30px;
    font-family: "Helvetica Ultra Light";
    color: grey;
}